.wrapper {
  display: flex;
  align-items: center;
}

.imageWrapper {
  width: rem(40);
  height: rem(40);
  overflow: hidden;
  border-radius: rem(30);
  margin-right: rhythm($global-margin / 4);

  @include breakpoint(medium) {
    margin-right: rhythm($global-margin / 2);
    width: rem(60);
    height: rem(60);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postInfo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-title-small);
  font-size: rem(12);
  text-transform: uppercase;
  color: var(--color-light-text);

  svg {
    color: inherit;
    fill: currentColor;
  }
}

.infoItem {
  display: flex;
  margin: 0 0.25em;
  position: relative;
  white-space: nowrap;

  &::after {
    content: '•';
    display: block;
    margin-left: 0.5em;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.authorName {
  margin: 0;
  font-family: var(--font-sans);
  letter-spacing: var(--letter-spacing-heading);
  text-transform: none;
  font-size: rem(18);
  @include breakpoint(medium) {
    font-size: rem(20);
  }
}
