.wrapper {
  &.isFeatured {
    @include breakpoint(large) {
      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      column-gap: rhythm($global-margin);
    }

    @include breakpoint(xlarge) {
      grid-template: 1fr / repeat(3, 1fr);

      .innerWrapper {
        max-width: rhythm(18);
        grid-column: 2 / 4;
      }
    }
  }
}

.innerWrapper {
}

.heading {
  margin: #{rhythm(1 / 2)} 0;

  &.headingFeatured {
    margin-top: 0;
  }

  a {
    color: inherit;
  }

  a:not(:hover):not(:focus) {
    text-decoration: none;
  }
}

.bannerWrapper {
  margin: 0 0 #{rhythm($global-margin / 2)};
}

.postInfo {
  display: block;
  margin: #{rhythm(3 / 4)} 0;
  font-family: var(--font-title-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-title);
  font-size: rem(12);
  text-transform: uppercase;
  color: var(--color-light-text);
}

.excerpt {
  font-family: var(--font-sans);
  color: var(--color-light-text);
  margin: #{rhythm(1 / 2)} 0;

  .isFeatured & {
    @include breakpoint(xlarge) {
      font-size: 1.125rem;
    }
  }
}

.linkWrapper {
  display: block;
  margin-top: rhythm(1 / 2);

  @supports (display: grid) {
    display: grid;
    column-gap: rhythm(1 / 2);
    @include breakpoint(medium) {
      grid-template-columns: 1fr auto;
    }
  }
}

.moreLink {
  display: block;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-title-small);
  letter-spacing: var(--letter-spacing-title);
  font-size: rem(12);
  text-transform: uppercase;
  color: inherit;

  &:not(:focus) {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    //color: var;
  }
}

.audio {
  display: block;
  width: 100%;
  margin: rhythm(1) 0;
}

.allLink {
  display: block;
  font-family: var(--font-title-small);
  font-weight: var(--font-weight-bold);
  font-size: rem(12);
  text-transform: uppercase;
  color: inherit;

  &:not(:focus) {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    //color: var;
  }
}
