.wrapper {

  &.isFeatured {
    /* max-width: ${rhythm(33)}; */
    @include breakpoint(large) {
      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      column-gap: rhythm($global-margin);
    }

    @include breakpoint(xlarge) {
      grid-template: 1fr / repeat(3, 1fr);

      .innerWrapper {
        max-width: rhythm(18);
        grid-column: 2 / 4;
      }
    }
  }

  .innerWrapper {}
}

.heading {
  margin: #{rhythm(1 / 2)} 0;

  &.headingFeatured {
    margin-top: 0;
  }

  a {
    color: inherit;
  }

  a:not(:hover):not(:focus) {
    text-decoration: none;
  }
}

.bannerWrapper {
  img {
    display: block;
    margin: 0 0 #{rhythm($global-margin / 2)};
    box-shadow: 0 rem(10) rem(40) rem(-20) rgba(#000, 0.425);
  }
}

.episodeInfo {
  display: block;
  margin: #{rhythm(1 / 2)} 0;
  font-family: var(--font-sans);
  font-size: rem(14);
  color: var(--color-light-text);
}

.desc {
  font-family: var(--font-sans);
  color: var(--color-light-text);
  margin: #{rhythm(1 / 2)} 0;

  .isFeatured & {
    @include breakpoint(xlarge) {
      font-size: 1.125rem;
    }
  }
}

.linkWrapper {
  display: block;
  margin-top: rhythm(1 / 2);

  @supports (display: grid) {
    display: grid;
    column-gap: rhythm(1 / 2);
    @include breakpoint(medium) {
      grid-template-columns: 1fr auto;
    }
  }
}

.listenLink {
  display: block;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold);
  color: inherit;
  text-transform: uppercase;

  &:hover {
    color: var(--color-link);
  }
}

.audio {
  display: block;
  width: 100%;
  margin: rhythm(1) 0;
}
