.BlogPostExcerpt {
  $self: &;

  &--is-featured {
    @include breakpoint(large) {
      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      column-gap: rhythm($global-margin);
    }

    @include breakpoint(xlarge) {
      grid-template: 1fr / repeat(3, 1fr);

      #{$self}__inner-wrapper {
        max-width: rhythm(18);
        grid-column: 2 / 4;
      }
    }
  }

  &__heading {
    margin: #{rhythm(1 / 2)} 0;
    &--is-featured {
      margin-top: 0;
    }
  }

  &__banner-wrapper {
    margin: 0 0 #{rhythm($global-margin / 2)};
  }

  &__post-info {
    display: block;
    margin: #{rhythm(1 / 2)} 0;
    font-family: var(--font-sans);
    font-size: rem(14);
    color: var(--color-light-text);
  }

  &__spoiler {
    font-family: var(--font-sans);
    color: var(--color-light-text);
    margin: #{rhythm(1 / 2)} 0;
  }

  &__more-link {
    display: block;
    font-family: var(--font-sans);
    font-weight: bold;
    margin-top: rhythm(1 / 2);
    color: var(--color-light-primary);
    text-transform: uppercase;
    letter-spacing: 0.5;

    &:hover {
      color: var(--color-light-link);
    }
  }

  a {
    text-decoration: none;
  }
}
