.wrapper {
  will-change: transform;
  transition: transform 700ms cubic-bezier(0, 1, 0.8, 1);
  transform: translateX(0);
  padding: rhythm(($global-margin / 2) * $small-screen-multiplier);

  @include breakpoint(348) {
    padding: rhythm($global-margin * $small-screen-multiplier);
  }

  @include breakpoint(medium down) {
    max-width: rhythm(28);
  }

  @include breakpoint(medium) {
    padding: rhythm($global-margin);
  }

  @include breakpoint(large) {
    @supports (display: grid) {
      padding-bottom: 0;
    }
  }

  &.navIsActive {
    transform: translateX(#{rem($mobile-nav-width * -1)});
  }
}

.gridWrapper {
  width: 100%;

  @include breakpoint(large) {
    @supports (display: grid) {
      display: grid;
      grid-template:
        'header body' 1fr
        'header footer' fit-content(100%) / 198px 1fr;
      column-gap: rhythm($global-margin);
      min-height: calc(100vh - #{rhythm($global-margin)});
      margin-bottom: 0;
    }
  }
}

.body {
  grid-area: body;
  padding-bottom: rhythm($global-margin / 2);
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  @include breakpoint(large) {
    @supports (display: grid) {
      position: sticky;
      bottom: 0;
      background: var(--color-body-bg);
      padding-bottom: rhythm($global-margin);
      transition: color 400ms ease-out, background 400ms ease-out,
        box-shadow 400ms ease-out;
    }
  }
}
