.EpisodeTemplate {
  &__post-wrapper {
    @include make-content-grid(content, header);
  }

  &__PostMeta {
    margin: #{rhythm(1 / 2)} 0;
    padding-bottom: rhythm(1 / 2);
    border-bottom: 1px solid var(--color-border);

    @include breakpoint(medium) {
      margin: #{rhythm(1)} 0;
      padding-bottom: rhythm(1);
    }

    @include breakpoint(xxlarge) {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__header {
    grid-area: header;
    position: relative;

    @include breakpoint(xxlarge) {
      @supports (display: grid) {
        margin-bottom: rhythm($global-margin);
      }
    }
  }

  &__header-inner {
    @supports (display: grid) {
      @include breakpoint(xxlarge) {
        position: sticky;
        top: rhythm($global-margin);
      }
    }
  }

  &__post-title {
    margin: 0 0 #{rhythm(1 / 2)};
  }

  &__content-area {
    grid-area: content;
    margin-top: rhythm($global-margin / 2);

    @include breakpoint(medium) {
      font-size: rem(18);
    }

    @include breakpoint(large) {
      font-size: rem(20);
    }

    @include breakpoint(xxlarge) {
      margin-top: 0;
    }
  }

  &__audio {
    display: block;
    width: 100%;
    margin: #{rhythm(1)} 0;
  }
}
