.theme-dark {
  composes: theme-dark from global;
}

.button {
  position: relative;
  margin: 0;
  padding: 0;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 8px;
  box-shadow: none;
  width: 16px;
  height: 16px;

  @include breakpoint(large) {
    border-radius: rhythm($global-margin / 4);
    width: rhythm($global-margin / 2);
    height: rhythm($global-margin / 2);
  }

  &:focus {
    box-shadow: 0 0 0 6px var(--color-focus) !important;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      box-shadow: 0 0 0 3px var(--color-body-bg);
    }
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.graphic {
  width: inherit;
  height: inherit;

  .shape {
    transition: fill 1s ease;
    fill: $chancethedev--yellow-30;
  }

  .mask {
    transition: transform 1s cubic-bezier(1, 0.4, 0.6, 2);
    transform: translate(-100%, -70%) scale(0.5);
  }

  :global .theme-dark :local & {
    .shape {
      fill: #fff;
    }

    .mask {
      transition: transform 1s cubic-bezier(0.2, 0.6, 0.4, 1);
      transform: translate(0, 0) scale(1);
    }
  }
}
