.footer {
  padding-top: rhythm($global-margin / 2);
  font-size: rem(14);
  font-family: var(--font-sans);
  font-weight: bold;
  line-height: 1;
  border-top: 1px solid var(--color-border);

  @include breakpoint(medium) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @include breakpoint(medium) {
    flex-direction: row;
  }
}

.menuItem {
  @include breakpoint(medium) {
    margin: 0;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.copyright {
  color: var(--color-link);
}
